<div class="container">
  <mat-toolbar class="custom-toolbar">
    <button
      matButton
      class="btn-rojo"
      aria-label="Example icon-button with menu icon"
      [matMenuTriggerFor]="menuUntels"
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      GYM Untels
    </button>
  </mat-toolbar>


  <mat-menu #menuUntels="matMenu">
    <button mat-menu-item routerLink="/homes"><mat-icon>home</mat-icon>Inicio</button>
    <button mat-menu-item routerLink="/rutina"><mat-icon>fitness_center</mat-icon>Mi Rutina</button>
    <button mat-menu-item routerLink="/ejercicios"><mat-icon>sports_gymnastics</mat-icon>Ejercicios</button>
    <button mat-menu-item routerLink="/noticias"><mat-icon>article</mat-icon>Noticias</button>
    <button mat-menu-item routerLink="/progreso"><mat-icon>bar_chart</mat-icon>Progreso</button>
    <button mat-menu-item routerLink="/agenda"><mat-icon>calendar_today</mat-icon>Agenda</button>
    <button mat-menu-item routerLink="/perfil"><mat-icon>person</mat-icon>Perfil</button>
  </mat-menu>
</div>